* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    margin: auto;
    padding-top: 100px;
    height: 700px;
    width: 430px;
    margin:auto
}

.container {
    width: 390px;
    margin: auto;
    box-shadow: 0px 0px 43px 17px rgba(150,150,150,1);
}

.display-container {
    /* margin: auto; */
    width: 60vh;
    text-align: right;
    height: 70px;
    color: black;
    font-size: 25px;
}

#display1 {
    margin: auto;
    width: 100%;
    text-align: right;
    height: 100%;
    color: black;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid black;
    border-left: 1px solid yellow;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid black;
    border-right: 1px solid yellow;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(238, 255, 3);
    color: black;
}

.button:hover {
    background-color: #323330;
    color: yellow;
    transition: 0.5s ease-in-out;
}
